API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_API_BASE_URL=/api/proxy
AUTH_COOKIE_NAME=cfdi_users_auth
AUTH_COOKIE_TTL_SECONDS=28800
AUTH_MODE=local
APP_TITLE=CFDI USERS
APP_SUBTITLE=Administración de usuarios
